html{
    background-color: cornflowerblue;
}
.score{
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8%;
    text-align: start;
}
.hed-and-score{
    text-align: start;
}
#hed{
    text-align: center;
    width: 50%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-color:rgb(214, 212, 206);
    border-radius: 10px;
    border-width: 10px;
    font-size: 130%;
}
#hFont{
    color: rgb(214, 212, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    display: block;
    padding: 20px;
    word-wrap: break-word;
}
#hed:hover{
    text-shadow: 2px 2px 4px #fff1f1;
    box-shadow: 2px 2px 4px #fff1f1;
}
.hand-options{
    margin: auto;
    text-align: center;
    width: 70%;
    display: flex;
    padding: 70px;
}
.hands{
    max-width: 100%;
    width: 50%;
    height: auto;
    padding: 10px;
    margin: auto;
}
.hands:hover{
    cursor: pointer;
    width: 60%;
}
/*.score-board{
    max-width: 100%;
    width: 50%;
    text-align: center;
    margin: auto;
    color: cornsilk;
    font-size: 30px;
    padding: 40px;
    padding-bottom: 40px;
    border: solid;
    border-radius: 10px;
}*/
